@mixin DisplayFlex(){
  color: white;
  display: block;
  columns: 2;
  border-color: black;
  display: none;
  color: red;
  background-color: white;
  border-radius: 10px;
}

.about{
  @include DisplayFlex();
  .column_1{
    padding: 50px;
  }
  .column_2{
    padding: 50px;
  }
}

.Connect {
  @include DisplayFlex();
  .column_1{
    padding: 50px;
  }
  .column_2{
    flex-flow: column;
    padding: 50px;
  }
}

.Work{
  @include DisplayFlex();
.column_1{
    padding: 50px;
  }
  .column_2{
    flex-flow: column;
    padding: 50px;
  }
}
