@tailwind base;

@mixin DisplayFlex() {
  color: #d1d5db;
  columns: 2;
  width: 850px;
  margin: 100px auto;
  display: flex;

  .column_1 {
    font-size: 26px;
    width: 30%;
    padding: 10px;
  }

  .column_2 {
    font-size: 20px;
    width: 75%;
    padding: 10px;
  }
}

.informatiion {
  @include DisplayFlex();
}

.header_info {
  color: #d1d5db;
  margin: 83px auto;
  width: 850px;

  h1 {
    font-size: 28px;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }
}
