
<div class="container">
 <img (click)="Router('')" src="assets/logo/icons8-darth-vader-50.png" alt="" class="logo">
 <div class="menu">
     <div
      class="items"
      *ngFor="let navigate of navigates"
      [style.color]="focus == navigate.name.toLowerCase() ? '#616161' :''"
      (click)="Router(navigate.name)">
       <div class="item"> {{ navigate.name }}</div>
     </div>
</div>
</div>


<!-- <div class="dropdown" style="float:right;"> -->
<!--       <button class="dropbtn"> -->
<!--         <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon> -->
<!--       </button> -->
<!--        <div class="dropdown-content"> -->
<!--          <a -->
<!--           *ngFor="let navigate of navigates" -->
<!--           [style.color]="focus == navigate.name.toLowerCase() ? 'white' :''" -->
<!--           [style.background-color]="focus == navigate.name.toLowerCase() ? 'black' :''" -->
<!--           [style.border-radius]="focus == navigate.name.toLowerCase() ? '10px': ''" -->
<!--           (click)="Router(navigate.name)"> -->
<!--            {{ navigate.name }} -->
<!--          </a> -->
<!--        </div> -->
<!-- </div> -->
<!-- <div class="theme"> -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"> -->
<!--     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> -->
<!--         <rect x="0" y="0" width="24" height="24"/> -->
<!--         <path d="M12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z M12,5.99999664 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18.0000034 L12,5.99999664 Z" fill="#000000" fill-rule="nonzero"/> -->
<!--     </g> -->
<!-- </svg> -->
<!---->
<!-- </div> -->
