<div id="toolbar">
 <img src="assets/logo/icons8-darth-vader-50.png" alt="">
 <div class="navigation">
   <ul>
     <li 
      *ngFor="let navigate of navigates"
      [style.color]="focus == navigate.name.toLowerCase() ? 'white' :''"
      [style.background-color]="focus == navigate.name.toLowerCase() ? 'black' :''"
      [style.border-radius]="focus == navigate.name.toLowerCase() ? '10px': ''"
      (click)="Router(navigate.name)">
       {{ navigate.name }}
     </li>
   </ul>
 </div>
<div class="mobile_navigation">
<div class="dropdown">
  <button  (click)="DropMenu()" class="dropbtn">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
  </button>
   <ul class="dropdown-content" [style.display]="dropMenu ? 'block':'none'">
     <li 
      *ngFor="let navigate of navigates"
      [style.color]="focus == navigate.name.toLowerCase() ? 'white' :''"
      [style.background-color]="focus == navigate.name.toLowerCase() ? 'black' :''"
      [style.border-radius]="focus == navigate.name.toLowerCase() ? '10px': ''"
      (click)="Router(navigate.name)">
       {{ navigate.name }}
     </li>
   </ul>
 <div>
</div>

