 <img (click)="Router('')" src="assets/logo/icons8-darth-vader-50.png" alt="">
 <div class="navigation">
     <div 
      class="navigate"
      *ngFor="let navigate of navigates"
      [style.color]="focus == navigate.name.toLowerCase() ? 'white' :''"
      [style.background-color]="focus == navigate.name.toLowerCase() ? 'black' :''"
      [style.border-radius]="focus == navigate.name.toLowerCase() ? '10px': ''"
      (click)="Router(navigate.name)">
       {{ navigate.name }}
     </div>
</div>
<div class="dropdown" style="float:right;">
      <button class="dropbtn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
      </button>
       <div class="dropdown-content">
         <a 
          *ngFor="let navigate of navigates" 
          [style.color]="focus == navigate.name.toLowerCase() ? 'white' :''"
          [style.background-color]="focus == navigate.name.toLowerCase() ? 'black' :''"
          [style.border-radius]="focus == navigate.name.toLowerCase() ? '10px': ''" 
          (click)="Router(navigate.name)">
           {{ navigate.name }}
         </a>
       </div>
</div>



