$color_1: #d1d5db;

@media screen and (min-width: 768px){
img{
    display: flex;
  float: left;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: $color_1;
}
.navigation{
  width: 60%;
  padding: auto;
  display: flex;
  margin: auto;
  float: center;
  .theme{
    margin-left: 10%;
    padding: 10px 10px 10px 10px;
    display: flex;
    background-size: 200px;
    font-size: 18px;
    color: $color_1;
  }
  .mobile_navigation{
      display: none;
  }
  .navigate{
    padding: 10px 10px 10px 10px;
    display: flex;
    background-size: 200px;
    font-size: 18px;
    color: $color_1;
  &:hover{
      cursor: default;
      display: block;
      background-color: #0f172a;
      border-radius: 10px;

    }
  &:not(:last-of-type) {
        margin-right: 10%;
    }
  }
}
}
@media screen and (max-width: 767.98px){
img{
    display: flex;
  float: left;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: $color_1;
}
.navigation{
  width: 60%;
  padding: auto;
  display: flex;
  margin: auto;
  float: center;
  .theme{
    padding: 10px 10px 10px 10px;
    display: flex;
    background-size: 200px;
    font-size: 18px;
    color: $color_1;
  }
  .mobile_navigation{
      margin-left: 50%;
      padding: 10px 10px 10px 10px;
      display: flex;
      float: right;
      background-size: 200px;
      font-size: 18px;
      color: $color_1;
    }
  .navigate{
    display: none;
  }
}
}
