$color_1: #d1d5db;
#toolbar{
  display: flex;
  width: 100%;
  margin: 10px auto;
  img{
    display: block;
    margin-top: 2%;
    height: 50px;
    border-radius: 10px;
    background-color: $color_1;
  }
  .navigation{
    display: block;
    margin-left: 30px;
    ul{
      display: flex;
      li{
        font-size: 20px;
        background-size: 10px;
        padding: 20px;
        display: block;
        color: $color_1;
        text-align: center;
      }
      li:hover{
        cursor: default;
        display: block;
        background-color: #0f172a;
        border-radius: 10px;
        
      }
      li:not(:last-of-type) {
          margin-right: 10%;
      }
    }
  }
}
