<div class="about">
   <h1>Kalzhan Kassymkhan</h1>
   <p>I write code and make video</p>
</div>

<div class="info">
  <img class="avatar" src="assets/logo/avatar.jpg" alt="">
  <div class="sociales">
    <!-- <div class="social" *ngFor="let social of sociales"><a routerLink="{{social.path}}"><img src="assets/blogi.png" width="150" height="50" alt=""></a></div> -->
    <div class="github">
      <a href="{{ github_url }}"><img src="https://img.shields.io/badge/github-%2312100E.svg?&style=for-the-badge&logo=github&logoColor=white&color=black" width="140" /></a>
    </div>
    <div class="youtube"><a href="{{ youtube_url }}"><img src="https://img.shields.io/badge/youtube-%230077B5.svg?&style=for-the-badge&logo=youtube&logoColor=white&color=FF0000" width="140" /></a></div>

  </div>
</div>


<div class="description">
  Hi, I'm Kassymkhan, a devops engineer who loves building cool things with code.
</div>

<div class="links">
  <div class="email" routerLink='/home'>
    <mat-icon  aria-hidden="false" fontIcon="email"/>
  </div>
  <div class="connects" routerLink='/home'>
    <mat-icon fontIcon="share" />
  </div>
</div>


<div *ngIf="blogs.length > 1" class="blog">
  <p>Lates Blogs</p>
  <div class="latest" *ngFor="let blog of blogs">
    {{ blog.description}}
  </div>
  <div class="all">See All</div>
</div>
