.header_info {
  margin-top: 4%;
  h1{
    color: white;
    font-size: 30px;
    margin-bottom: -0.8%;
  }
  p{
    color: #9ca3af;
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.middle_info{
  display: flex;
  columns: 2;
  margin-bottom: 2%;
  ul{
    margin-left: 8%;
    font-size: 1em;
    color: #374151;
    li{
      a{
      text-decoration: none;
      color: #9ca3af;
      }
      display: block;
      &:not(:first-of-type){
        margin-top: 10px;
      }
      a:hover{
        color: white;
        cursor: default;
      }
    }
  }
}

.description{
  font-size: 1em;
  width: 500px;
  padding: 16px 16px 16px 0px;
  display: block;
  color: white;
}

.links{
  font-size: 1em;
  display: flex;
  .email{
    margin-right: 20px;
    & a:hover{
      cursor: default;
      color: white;
    }
  }
  .connects{
    & a:hover{
      cursor: default;
      color: white;
    }
  }
  a{
    color: #9ca3af;
    text-decoration: none;
  }
  
}
