.header_info {
  h1{
    color: white;
    font-size: 30px;
  }
  p{
    margin-top: -10px;
    color: #9ca3af;
    margin-bottom: 30px;
  }
}

.middle_info{
  display: block;
  float: left;
  width: 400px;
  columns: 2;
  margin-top: 10px;
  font-size: 20px;
  img{
    font-size: 300px;
  }
  ul{
    margin-left: -40px;
    font-size: 0.8em;
    color: #374151;
    li{
      &:not(:first-of-type){
        margin-top: 10px;
      }
      a:hover{
        color: white;
        cursor: default;
      }
    }
  }
}
.description {
  margin-top: 170px;
  display: block;
  font-size: 16px;
  color: #d4d4d4;
  width: 400px;
}

.links {
  font-size: 15px;
  margin-top: 30px;
  columns: 2;
  float: left;
  display: block;
  .email:hover{
    cursor: default;
    color: white;
  }
  .connects{ 
    margin-left: -15px;
    &:hover{
      cursor: default;
      color: white;
    }
  }
}

.blog{
  .all_blog{
    margin-top: 100px;
    margin-left: 5px;
    text-decoration: underline;
    color: #4b5563;
    &:hover{
      cursor: default;
      color: white;
    }
  }
}
