@media screen and (min-width: 768px){
.middle_info{
  display: flex;
  columns: 2;
  margin-bottom: 2%;
  .avatar{
      padding: 5px;
      width: 110px;
      border-radius: 100%;
    }
  .sociales{
    margin-left: 8%;
    font-size: 16px;
    color: #374151;
    .youtube{
        a{
        text-decoration: none;
        color: #9ca3af;
        }
        &:not(:first-of-type){
          margin-top: 5px;
        }
        a:hover{
          color: white;
          cursor: default;
        }
      }

      .social{
          a{
          text-decoration: none;
          color: #9ca3af;
          }
          &:not(:first-of-type){
            margin-top: 5px;
          }
          a:hover{
            color: white;
            cursor: default;
          }
        }
      .github{
        display: flex;
        a{
          display: flex;
          svg{
            margin-right: 10px;
            svg:hover{
            color: white;
            cursor: default;
          }
          }
          text-decoration: none;
          color: #9ca3af;
          }
          &:not(:first-of-type){
            margin-top: 5px;
          }
          a:hover{
            color: white;
            cursor: default;
          }
      }
  }
}

.description{
  font-size: 1em;
  width: 55%;
  padding: 16px 16px 16px 0px;
  display: block;
  color: white;
}

.links{
  display: flex;
  margin-top: 10px;
  .email{
    margin-right: 20px;
    &:hover{
      cursor: default;
      color: white;
    }
  }
  .connects{
    &:hover{
      cursor: default;
      color: white;
    }
  }
  color: #9ca3af;
}

.blog{
  font-size: 18px;
  margin-top: 50px;
  p {
    color: #9ca3af;
  }
  .latest{
    margin-top: 50px;
  }
  .all{
    text-decoration: underline;
    margin-top: 50px;
    &:hover{
      color: white;
      cursor: default;
    }
  }
}
}

@media screen and (max-width: 767.98px){
.middle_info{
  display: block;
  margin-bottom: 2%;
  .avatar{
      padding: 10px;
      width: 120px;
      border-radius: 100%;
    }
  .sociales{
    font-size: 10px;
    display: block;
    color: #374151;
    .youtube{
        a{
        text-decoration: none;
        color: #9ca3af;
        }
        &:not(:first-of-type){
          margin-top: 5px;
        }
        a:hover{
          color: white;
          cursor: default;
        }
      }

      .social{
          a{
          text-decoration: none;
          color: #9ca3af;
          }
          &:not(:first-of-type){
            margin-top: 5px;
          }
          a:hover{
            color: white;
            cursor: default;
          }
        }
      .github{
        display: flex;
        a{
          display: flex;
          svg{
            margin-right: 10px;
            svg:hover{
            color: white;
            cursor: default;
          }
          }
          text-decoration: none;
          color: #9ca3af;
          }
          &:not(:first-of-type){
            margin-top: 5px;
          }
          a:hover{
            color: white;
            cursor: default;
          }
      }
   }
}

.description{
  font-size: 0.8em;
  width: 80%;
  padding: 16px 16px 16px 0px;
  display: block;
  color: white;
}

.links{
  display: flex;
  margin-top: 10px;
  .email{
    margin-right: 20px;
    &:hover{
      cursor: default;
      color: white;
    }
  }
  .connects{
    &:hover{
      cursor: default;
      color: white;
    }
  }
  color: #9ca3af;
}

.blog{
  font-size: 18px;
  margin-top: 50px;
  p {
    color: #9ca3af;
  }
  .latest{
    margin-top: 50px;
  }
  .all{
    text-decoration: underline;
    margin-top: 50px;
    &:hover{
      color: white;
      cursor: default;
    }
  }

}
}
