<div class="header_info">
   <h1>Kalzhan Kassymkhan</h1>
   <p>I write code and make video</p>
</div>

<div class="middle_info">
  <img src="assets/logo/icons8-darth-vader-100.png" alt="">
  <ul>
    <li *ngFor="let social of sociales">{{ social.name }}</li>
  </ul>
</div>

<div class="description">
  Hi, I'm Kalzhan Kassymkhan, a software engineer who loves building cool things with code.
</div>

<div class="links">
  <div class="email">Email me</div>
  <div class="connects">Connect with my</div>
</div>

<div class="blog">
  
</div>
<app-start />
