.header_info {
  color: #d1d5db;
  width: 800px;
  margin: 10px auto;

  h1 {
    font-size: 28px;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }

  .search {
    width: 300px;
    margin-top: 5%;
    padding: 20px;
    height: 30px;
    color: black;
    border-radius: 23px;
  }
}
