.header_info {
  margin-top: 4%;
  h1{
    color: white;
    font-size: 35px;
    margin-bottom: -1%;
  }
  p{
    color: #9ca3af;
    font-size: 15px;
    margin-bottom: 30px;
  }
}
.search {
  display: block;
  border-radius: 20px;
  padding: 10px;
  font-size: 10px;
  height: 4%;
  width: 50%;
  border: 2px;
}

input:focus {
    border: 2px solid black;
    outline: none;
}
