.header_info {
  color: #d1d5db;
  width: 800px;
  margin: auto;


  h1 {
    font-size: 28px;
    font-weight: inherit;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }

  .search {
    width: 260px;
    margin-top: 2vh;
    padding: 18px;
    height: 0.2vh;
    color: black;
    border-radius: 23px;
  }
}
