$MaxWidth: 700px;
$MinWidth: 200px;
*{
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header{
  width: calc(272px + 380 *((100vw - 320px)/1024));
  height: 60px;
  margin: auto;
  padding-left: 5%;
  float: center;
  margin-top: 2%;
}
.body{
  width: calc(272px + 380 * ((100vw - 302px)/1024));
  margin: auto;
  float: center;
  padding-left: 5%;
}
