$MaxWidth: 700px;
$MinWidth: 200px;
*{
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header{
  width: calc(200px + 500 *((100vw - 320px)/1024));
  height: 60px;
  margin: auto;
  padding: auto;
  align-items: center;
  box-sizing: border-box;
  margin-top: 2%;
}
.body{
  width: calc(200px + 500 * ((100vw - 302px)/1024));
  margin: auto;
  padding: auto;
  box-sizing: border-box
}
