<div class="header_info">
  <h1>Gear</h1>
   <p>My toolbox</p>
</div>
<div class="description">
  <p>
  This is gear I actually own and recommend.
  The affiliate links come at no extra cost, but it does however help support my content creation.
  </p>
</div>

<!-- <section class="devices" > -->
<!-- <h2>Devices</h2> -->
<!---->
<!-- <ul class="items"> -->
<!--   <li *ngFor="let device of devices"> -->
<!--     <h4>{{ device.Name }}</h4> -->
<!--     <p>{{ device.Description }}</p> -->
<!--     <a href="{{ device.URL }}" class="button">Go to Google</a> -->
<!--   </li> -->
<!-- </ul> -->
<!---->
<!-- </section> -->
<!---->
