.header_info {
  margin-top: 4%;
  h1{
    color: white;
    font-size: 40px;
    margin-bottom: -1%;
  }
  p{
    color: #9ca3af;
    font-size: 15px;
    margin-bottom: 30px;
  }
}
.description {
  margin-top: 1%;
  color: #d4d4d4;
  width: 600px;
}
