<div class="header_info">
  <h1>Gear</h1>
   <p>My toolbox</p>
</div>
<div class="description">
  <p>
  This is gear I actually own and recommend.
  The affiliate links come at no extra cost, but it does however help support my content creation.
  </p>
</div>

<section class="devices">
<div class="card" *ngFor=" let device of this.gear.Techs()">
  <img  src="assets/gears/mackbook.jpg"   style="width:100%">
  <div class="container">
    <h1><b>{{ device.Name }}</b></h1>
    <h6>{{ device.Description}}</h6>
  </div>
</div>
</section>

<!-- <section class="softwares"> -->
<!-- <div *ngFor="let soft of this.gear.Softs()"> -->
<!--   {{ soft.Name}} -->
<!-- </div> -->
<!-- </section> -->
