<div class="header_info">
  <h1>Gear</h1>
   <p>My toolbox</p>
</div>
<div class="description">
  <p>
  This is gear I actually own and recommend.
  The affiliate links come at no extra cost, but it does however help support my content creation.
  </p>
</div>
<!-- <section class="devices"> -->
<!-- <div *ngFor=" let device of this.gear.Techs()"> -->
<!--   {{ device.Name }} -->
<!-- </div> -->
<!-- </section> -->
<!---->
<!-- <section class="softwares"> -->
<!-- <div *ngFor="let soft of this.gear.Softs()"> -->
<!--   {{ soft.Name}} -->
<!-- </div> -->
<!-- </section> -->
