*{
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1f2937;
}

.header_info {
  margin-top: 25px;
  h1{
    color: white;
    font-size: calc(20px + 15 * ((100vw - 320px) / 1024));
    margin-bottom: -1%;
  }
  p{
    color: #9ca3af;
    font-size: calc(10px + 5 * ((100vw - 320px) /1024));
    margin-bottom: 30px;
  }
}
.search {
  display: block;
  border-radius: 20px;
  padding: 10px;
  font-size: 10px;
  height: 4%;
  width: 200px;
  border: 2px;
}

input:focus {
    border: 2px solid black;
    outline: none;
}
