
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1f2937;
}

