.header_info {
  color: #d1d5db;
  width: 800px;
  margin-left: 500px;
  margin: auto;

  h1 {
    font-size: 28px;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }

  .search {
    width: 250px;
    margin-top: 5%;
    padding: 20px;
    height: 0.2vh;
    color: black;
    border-radius: 23px;
  }
}

.article {
  color: #d1d5db;
  width: 850px;
  margin: 50px auto;
  font-size: 22px;
}
